doc/html/
doc/latex/
*.mod
*.swp
*.swo
*tags
*.o
*.dat
main
pypolychord/main
planck
pypolychord/planck
chains
pypolychord/chains
batch
pypolychord/batch
*.a
*.so
*.pyf
getdist/getdist
getdist/plot_data/*
getdist/plots/*
*.pyc
bin/*
pypolychord/bin/*
*.gcda
*.gcno
*.gcov
gmon.out
core*
*.egg-info
build
pypolychord/build
dist
pypolychord/dist
.ld_library_path.sh
pypolychord/.ld_library_path.sh
.ld_preload.sh
pypolychord/.ld_preload.sh
.vscode
*.pdf
wheelhouse
*.whl
output
