# linux matrix
language: python
os: linux
python:
    - "3.7"
    - "3.6"
    - "3.5"
    - "3.4"
    - "2.7"
env:
  - MPI=
  - MPI=1

# OSX matrix
matrix:
    include:
        - os: osx
          language: generic
          env: PYTHON_VERSION=python2 MPI=
        - os: osx
          language: generic
          env: PYTHON_VERSION=python3 MPI=
        - os: osx
          osx_image: xcode11.0
          language: generic
          env: PYTHON_VERSION=python2 MPI=
        - os: osx
          osx_image: xcode11.0
          language: generic
          env: PYTHON_VERSION=python3 MPI=


# System packages
addons:
    apt:
        packages:
            - gfortran
            - libblas3
            - liblapack3
            - openmpi-bin
            - libopenmpi-dev
    homebrew:
        packages: 
            - gcc
            - python2
            - python3
        update: true

# OSX setup
before_install:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]];
      then 
          pip install virtualenv;
          pip install --upgrade pip
          virtualenv venv -p $PYTHON_VERSION;
          source venv/bin/activate;
      fi

install:
    - make MPI=$MPI pypolychord
    - make MPI=$MPI gaussian
    - if [ "$MPI" ]; then 
          CC=mpicc CXX=mpicxx pip install .;
      else 
          pip install .;
      fi

    # requirements install
    - pip install -r requirements.txt
    - if [ "$MPI" ]; then pip install mpi4py; fi

# Run tests
script:
    - if [ "$MPI" ];
      then 
          mpirun -np 2 python run_pypolychord.py;
      else 
          python run_pypolychord.py; 
      fi
    - if [ "$MPI" ];
      then 
          mpirun -np 2 ./bin/gaussian ini/gaussian.ini;
      else 
          ./bin/gaussian ini/gaussian.ini;
      fi
