# This workflow carries out the build of the package with CMake

name: CMake build

on:
  push:
  workflow_dispatch:

jobs:
  build-GNU:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gfortran libopenmpi-dev cmake python3-dev pip
          pip install scipy matplotlib getdist anesthetic ipython mpi4py

      - name: Run CMake
        run: cmake -B build

      - name: Build
        run: make -C build install

      - name: Test pypolychord
        run: python run_pypolychord.py

      - name: Test pypolychord (MPI)
        run: mpirun -np 2 python run_pypolychord.py

  build-Intel:
    runs-on: ubuntu-latest
    container:
      image: intel/oneapi-hpckit

    steps:
      - uses: actions/checkout@v2

      - name: Run CMake
        run: cmake -B build -DCMAKE_Fortran_COMPILER=ifort -DCMAKE_CXX_COMPILER=icpc

      - name: Build
        run: make -C build install

      - name: Test pypolychord
        run: python run_pypolychord.py

      - name: Test pypolychord (MPI)
        run: mpirun -np 2 python run_pypolychord.py

  build-MacOS:
    runs-on: macos-latest
    strategy:
      matrix:
        cc: [ gcc, clang ]

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          brew install cmake gcc openmpi
          pip3 install numpy scipy matplotlib getdist anesthetic ipython mpi4py

      - name: Run CMake - GCC
        if: matrix.cc == "gcc"
        run: cmake -B build -DCMAKE_Fortran_COMPILER=gfortran-11 -DCMAKE_CXX_COMPILER=gcc-11

      - name: Run CMake - AppleClang
        if: matrix.cc == "clang"
        run: cmake -B build -DCMAKE_Fortran_COMPILER=gfortran-11

      - name: Build
        run: make -C build install

      - name: Test pypolychord
        run: python run_pypolychord.py

      - name: Test pypolychord (MPI)
        run: mpirun -np 2 python run_pypolychord.py